{% extends '_base.html' %}

{% block content %}
    <div class="col-sm-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboard/">仪表盘</a>
            </li>
            <li>
                <a>资产管理</a>
            </li>
            <li class="active">
                <strong>资产详情</strong>
            </li>
        </ol>
    </div>
    <div class="row tile_count">
        <div class="col-md-6 col-sm-12 col-xs-12 tile_stats_count">

            <table class="table table-striped table-bordered table-hover " id="user_list_table" >{% csrf_token %}
            <thead>
                <tr>
                    <th class="text-center">主机名</th>
                    <th class="text-center">IP</th>
                    <th class="text-center">协议</th>
                    <th class="text-center">动作</th>
                </tr>

                <tr>
                {% for row in assets_result %}
                    <td style="text-align: center;">{{ row.hostname }}</td>
                    <td style="text-align: center;">{{ row.ip }}</td>
                    <td style="text-align: center;">{{ row.protocol }}</td>
                    <th class="text-center">
                        <a href="/assets/asset/{{ row.id }}"><button type="button">查看</button></a>
                        <input type="hidden" name="assess_id" value="{{ row.id }}">
                        <button type="button" onclick="del()">删除</button>
                    </th>
                    </tr>
                {% endfor %}
                </thead>
            </table>

        </div>
    </div>
    <script type="text/javascript">
        function del() {
            const assess_id = $('input[name=assess_id]').val();
            $.get({
                url: '/assets/asset/' + assess_id + '/delete/',
                success: function (result) {
                    if(result.msg == '0000'){
                            alert('删除成功')
                            window.location.href = '/assets/asset/'
                    }else
                    {alert(result.msg )}
                }
            })

        }
    </script>
{% endblock %}