{% extends '_base.html' %}


{% block content %}
    <div class="col-sm-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/dashboard/">仪表盘</a>
            </li>
            <li>
                <a>资产管理</a>
            </li>
            <li class="active">
                <strong>资产用户</strong>
            </li>
        </ol>
    </div>
    <div class="row tile_count">
        <div class="col-md-6 col-sm-12 col-xs-12 tile_stats_count">
            <table class="table table-striped table-bordered table-hover">{% csrf_token %}
            <input type="hidden" name="uidtoken" value="{{ user_info.id }}">

            <thead>
                <tr>
                    <th class="text-center">用户名</th>
                    <th class="text-center">密码</th>
                    <th class="text-center">动作</th>
                </tr>

                <tr>
                    <td style="text-align: center;" contentEditable="true" id="username">{{ user_info.name }}</td>
                    <td style="text-align: center;" contentEditable="true" id="password">{{ user_info.password }}</td>
                    <th class="text-center">
                        <button type="button" onclick="commit()">修改</button>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        function commit() {
            const uid =  $('input[name=uidtoken]').val();
            const token = $('input[name=csrfmiddlewaretoken]').val();
            const username = document.getElementById('username').innerHTML;
            const password = document.getElementById("password").innerHTML;
            $.ajax({
                url: '/assets/user/' + uid +'/',
                type: 'POST',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': token,
                    'id': uid,
                    'username': username,
                    'password': password,
                },
                success: function (result) {
                    if(result.msg == '0000'){
                        alert('修改成功'),
                        window.location.href = '/assets/user/'
                    }
                    else {
                        alert(result.msg)
                    }
                }
            })
        }
    </script>
{% endblock %}