<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>用户注册系统</title>
    <script src="/static/js/bootstrap/jquery.min.js"></script>
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap/font-awesome.min.css" rel="stylesheet">
    <script src="/static/css/bootstrap/bootstrap.min.css"></script>
    <link rel="stylesheet" href="/static/css/bootstrap/style.css">
</head>
<body>
    <div class="container">
        <div class="form row">
            <div class="form-horizontal col-md-offset-3" id="login_form">
                <h3 class="form-title">注册  {{ result }} </h3>
                <div class="col-md-9" >
                    <form action="/register/" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <input class="form-control required" type="text" placeholder="用户名" id="username" name="username"  maxlength="20"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control required" type="password" placeholder="密码" id="password" name="password" maxlength="20"/>
                        </div>
                        <div class="form-group">
                            <input style="padding-left: 26px;" class="form-control required" type="email" placeholder="邮箱" id="email" name="email" maxlength="20"/>
                        </div>
                        <div class="form-group col-md-offset-9">
                            <a href="/" class="btn btn-success pull-left" >返回登录</a>
                            <button type="submit" class="btn btn-success pull-right" name="submit">注册</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>